<div class="row">
    <div class="col-md-6">
        <input [(ngModel)]="siteFilter" class="form-control" (keyup)="filterFn()" placeholder="Filter"/>
        <select name="country" value="country">
            <option [ngValue]="null" disabled>Select Country</option>
            <option *ngFor="let site of sites" [ngValue]="site.siteId" (click)="siteSelected.emit(site.siteId)">{{site.siteName}}</option>
        </select> 
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Site Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let site of sites | paginate: { itemsPerPage: 20, currentPage: p }" (click)="siteSelected.emit(site.siteId)" >
                    <td>{{site.siteName}}</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
