
<div class="bg-light text-dark py-3">
  <h1 class="display-4 text-center">Timesheet Import</h1>
</div>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-12">
          <form>
            <h4>Available sites</h4>
                <mat-form-field appearance="fill">
                  <mat-label>Choose a site</mat-label>
                  <mat-select [formControl]="siteCtrl" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="siteFilterCtrl"
                      placeholderLabel="Search site ..."
                      noEntriesFoundLabel=" no matching site found">
                    </ngx-mat-select-search>
                    </mat-option>
                
                    <mat-option *ngFor="let site of filteredSites | async" [value]="site">
                      {{site.siteName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
          </form>
        </div>
    </div>
    <div class="row py-3">
      <div class="col-12">

          <file-upload *ngIf="!fileUploadInProgress; else spinner" [control]="fileUploadControl">
              <ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
              <div *ngIf="fileUploadControl.size === 0">
                      <span *ngIf="isFileDragDropAvailable" ><strong>Drag and drop</strong> file</span><br/>
                      <span *ngIf="isFileDragDropAvailable">or click here</span>
                  </div>
              </ng-template>
    
              <ng-template let-i="index" let-file="file" let-control="control" #item>
                  <div class="file-info" (click)="control.removeFile(file)">
                      <span class="file-name">{{ file.name }}</span>
                  </div>
              </ng-template>
          </file-upload>
          <ng-template #spinner>
            <mat-card class="example-section">
              <mat-card-content>
                <mat-progress-spinner [mode]="mode" [color]="color" [value]="value">
                </mat-progress-spinner>
              </mat-card-content>
            </mat-card>
           
          </ng-template>
          
      </div>
    
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-md-6">
        <button class="btn th-primary" (click)="clearFiles()">Clear Files</button> &nbsp;
        <button class="btn th-primary" (click)="importTimesheet()">Import Timesheet</button>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

